<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assetsUI/img/Tasaryeri.png" type="image/ico" />

    <title>Tasaryeri</title>

    <!-- Bootstrap -->
    <link href="/assetsAdmin/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/assetsAdmin/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/assetsAdmin/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/assetsAdmin/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="/assetsAdmin/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="/assetsAdmin/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="/assetsAdmin/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/assetsAdmin/build/css/custom.min.css" rel="stylesheet">

    <link href="/assetsui/css/main.css" rel="stylesheet" />
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a class="site_title"><i class="fa fa-paw"></i> <span>Tasaryeri Satış</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <hr />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Hoşgeldin @User.Claims.FirstOrDefault(x=>x.Type==ClaimTypes.Name).Value</h3>

                            <br />
                            <ul class="nav side-menu">
                                <li>
                                    <a asp-area="saler" asp-controller="SalerProduct" asp-action="Index"><i class="fa fa-laptop"></i> Ürünlerim</a>
                                </li>
                                <li>
                                    <a><i class="fa fa-comments"></i> Mesajlar</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Çıkış Yap" style="width:100%" asp-area="admin" asp-controller="Home" asp-action="LogOut">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    @User.Claims.FirstOrDefault(x=>x.Type==ClaimTypes.Name).Value
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">

                                    <a class="dropdown-item" asp-area="admin" asp-controller="Home" asp-action="LogOut"><i class="fa fa-sign-out pull-right"></i>Çıkış Yap</a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <!-- top tiles -->
            
                <!-- /top tiles -->

                <br />
                <div class="row">
                    <div class="col-md-12 col-sm-12 ">
                        @RenderBody()
                    </div>
                </div>
                <br />
                <br />

            </div>
            <!-- /page content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="/assetsAdmin/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/assetsAdmin/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="/assetsAdmin/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/assetsAdmin/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="/assetsAdmin/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="/assetsAdmin/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/assetsAdmin/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="/assetsAdmin/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="/assetsAdmin/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="/assetsAdmin/vendors/Flot/jquery.flot.js"></script>
    <script src="/assetsAdmin/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="/assetsAdmin/vendors/Flot/jquery.flot.time.js"></script>
    <script src="/assetsAdmin/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="/assetsAdmin/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="/assetsAdmin/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="/assetsAdmin/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="/assetsAdmin/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="/assetsAdmin/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="/assetsAdmin/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="/assetsAdmin/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="/assetsAdmin/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/assetsAdmin/vendors/moment/min/moment.min.js"></script>
    <script src="/assetsAdmin/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="/assetsAdmin/build/js/custom.min.js"></script>


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/ckeditor/ckeditor.js"></script>
    <script src="/mainjs/main.js"></script>
    <script src="/mainjs/modal.js"></script>
   
</body>
</html>
