@model ProductCategoryVM
<!-- Start Content -->
<div class="container py-5">
    <div class="row">

        <partial name="_Categories" />

        <div class="col-lg-9">



            <div class="row">
                <div class="col-md-12" style="text-align: center;">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" href="#">Çok Beğenilenler</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">

                @foreach (var item in Model.productDTOs)
                {
                    <partial name="_Product" model="item" />
                }

                <div class="col-md-4">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6 col-lg-3 pb-5">
                    <div class="h-100 py-5 services-icon-wap shadow">
                        <div class="h1 text-success text-center"><i class="fa fa-laptop-medical"></i></div>
                        <h2 class="h5 mt-4 text-center">Beğendiğiniz Ürünü Satın Alın</h2>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 pb-5">
                    <div class="h-100 py-5 services-icon-wap shadow">
                        <div class="h1 text-success text-center"><i class="fa fa-truck fa-lg"></i></div>
                        <h2 class="h5 mt-4 text-center">Üretici Ürünü Size Göndersin</h2>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 pb-5">
                    <div class="h-100 py-5 services-icon-wap shadow">
                        <div class="h1 text-success text-center"><i class="fa fa-user"></i></div>
                        <h2 class="h5 mt-4 text-center">
                            Ürünü Teslim Alıp Kontrol Edin
                        </h2>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 pb-5">
                    <div class="h-100 py-5 services-icon-wap shadow">
                        <div class="h1 text-success text-center"><i class="fa fa-money-bill"></i></div>
                        <h2 class="h5 mt-4 text-center">Bir Sorun Yoksa Ödeme Üreticiye Geçsin</h2>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Content -->