
<div class="col-lg-3">
    <div class="kategori-wrapper">
    <h1 class="h2 pb-4">Kategoriler</h1>
    <ul class="list-unstyled templatemo-accordion">

        @foreach (var item in Model.Categories)
        {
            <li class="pb-3">
                <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                    @item.Name
                    <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                </a>
                <ul class="collapse show list-unstyled pl-3">
                    @foreach (var item1 in item.subCategoriesDTO)
                    {
                        <li><a class="text-decoration-none" asp-controller="ProductCategory" asp-action="Index" asp-route-id="@item1.Id">@item1.Name</a></li>
                    }
                </ul>
            </li>

        }


    </ul>
    </div>
</div>
