@using Tasaryeri.BL.Dtos;
@model ProductDTO

<div class="col-md-4">
    <div class="card mb-4 product-wap rounded-0">
        <div class="card rounded-0">
            @if (Model.ProductPictures.Any())
            {
                <img class="card-img rounded-0 img-fluid" src="/@Model.ProductPictures.FirstOrDefault().Picture" alt="@Model.Name" />
            }
            else
            {
                <img class="card-img rounded-0 img-fluid" src="/assetsUI/img/görsel-hazirlaniyor.jpg">
            }
            <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                <ul class="list-unstyled">
                    <li>
                        <a class="btn btn-success text-white" href="shop-single.html">
                            <i class="far fa-heart"></i>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-success text-white mt-2" href="shop-single.html">
                            <i class="far fa-eye"></i>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-success text-white mt-2" href="shop-single.html">
                            <i class="fas fa-cart-plus"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body">
            <p class="h3  text-center">@Model.Name</p>
            <hr />
            <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
            </ul>
            <p class="text-center" style="height:108px">@Model.Description</p>
            <hr />
            <p class="text-center mb-0">@Model.Price TL</p>
        </div>
    </div>
</div>